body {
  background: #fff;
}

.root {
  height: 50vh;
}

.progress{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 70vh; 
}

.input {
  label {
    font-size: 18px;
  }
  input {
    font-size: 16px;
    width: 250px;
    line-height: 25px;
    margin-bottom: 10px;
  }
}

.error {
  color: red;
  &--input {
    position: absolute;
    line-height: 25px;
    margin-left: 20px;
  }
}

.user {
  &--header {
    display: flex;
    justify-content: space-between;
  }
  &--form, &--status {
    display: flex;
    justify-content: center; 
  }
  &--form {
    margin-bottom: 40px;
  }
  &--status {
    color: #0800ff;
  }

  .content {
    display: flex;
    justify-content: space-around;
  }
}
